[submodule "custom-packages/auto-complete"]
	path = custom-packages/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "custom-packages/yasnippet"]
	path = custom-packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "themes/emacs-tron-theme"]
	path = themes/emacs-tron-theme
	url = https://github.com/ivanmarcin/emacs-tron-theme.git
[submodule "themes/solarized-emacs"]
	path = themes/solarized-emacs
	url = https://github.com/syl20bnr/solarized-emacs.git
[submodule "themes/emacs-color-theme-solarized"]
	path = themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "custom-packages/autopair"]
    	path = custom-packages/autopair
    	url = https://github.com/capitaomorte/autopair.git
[submodule "custom-packages/emacs-dirtree"]
	path = custom-packages/emacs-dirtree
	url = https://github.com/zk/emacs-dirtree.git
[submodule "themes/emacs-clues-theme"]
	path = themes/emacs-clues-theme
	url = https://github.com/emacsfodder/emacs-clues-theme.git
[submodule "themes/emacs-purple-haze-theme"]
	path = themes/emacs-purple-haze-theme
	url = https://github.com/emacsfodder/emacs-purple-haze-theme.git
[submodule "custom-packages/change-inner"]
	path = custom-packages/change-inner
	url = https://github.com/magnars/change-inner.el.git
[submodule "custom-packages/popwin-el"]
	path = custom-packages/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule "custom-packages/yasnippet-snippets"]
	path = custom-packages/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "custom-packages/yasmate"]
	path = custom-packages/yasmate
	url = https://github.com/capitaomorte/yasmate.git
[submodule "snippets/yasnippet-snippets"]
	path = snippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "snippets/yasmate"]
	path = snippets/yasmate
	url = https://github.com/capitaomorte/yasmate.git
