### general ###
.*

### Logs and databases
*.log
*.sql
*.sqlite

### Other files
session.*
*.cache
places
.smex-items
semanticdb
auto-save-list
recentf
savehist
saveplace
eproject.lst
ede-projects.el
history
bookmarks
ac-comphist.dat
projectile-bookmarks.eld
projectile.cache

### Other Dirs
var/
url/
savefile/
node_modules/
project-explorer-cache/

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.cache/
jabber-otr/

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# packages
/elpa/
elpa/
/elget/
el-get/
/el-get/

### Allow ###
!.yas*
!/emacs/
!emacs/
!parts/
!.gitignore
!.projectile
!.gitmodules
!.dir-locals.el
