### general ###
.*

### Logs and databases
*.log
*.sql
*.sqlite

### Other files
session.*
*.cache
places
.smex-items
semanticdb
auto-save-list
recentf
savehist
saveplace
eproject.lst
ede-projects.el
history
bookmarks
ac-comphist.dat
projectile-bookmarks.eld
projectile.cache
.yas-compiled-snippets.el

### Other Dirs
var/
url/
savefile/
node_modules/
virtualenv
project-explorer-cache/

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.cache/
jabber-otr/
loaddefs.el
custom.el

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# packages
/elpa/
elpa/
/elget/
el-get/
/el-get/

### Allow ###
!.yas-parents
!.yas-setup.el
!.yas-make-groups
!.yas-skip
!/emacs/
!emacs/
!parts/
!.gitignore
!.projectile
!.gitmodules
!.dir-locals.el
