### general ###
.*

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Other files       #
#####################
projectile-bookmarks.eld
session.*
*.cache
places
.smex-items
savefile/
semanticdb
auto-save-list
recentf
url/
savehist
saveplace
eproject.lst
ede-projects.el
history
ac-comphist.dat
project-explorer-cache

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
#*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# packages
#/elpa/
/elget/
el-get/
/el-get/

### Allow ###
!.yas*
!/emacs/
!emacs/
!parts/
!.gitignore
!.projectile
!.gitmodules
!.dir-locals.el

